version: '3'
services:
  airflow:
    image: apache/airflow:2.7.1
    user: "${AIRFLOW_UID:-50000}:0"
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./src:/opt/airflow/src
      - ./conf:/opt/airflow/conf
      - ./data:/opt/airflow/data
      - ./models:/opt/airflow/models
      - ./data:/opt/data
      - ./reports:/opt/airflow/reports
    command: >
      bash -c "pip install -r /opt/airflow/src/requirements.txt && airflow standalone"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5