name: CI/CD Pipeline

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f hw2/src/requirements.txt ]; then pip install -r hw2/src/requirements.txt; fi

    - name: Run Linter (Flake8)
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run Tests
      env:
        PYTHONPATH: ${{ github.workspace }}/hw2/src
      run: pytest

  # --- ◊¿—“‹ 2: —¡Œ– ¿ ¡»¡À»Œ“≈ » ---
  build-library:
    needs: tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Builder
        run: pip install build

      - name: Build Package
        # —Ó·Ë‡ÂÏ Ô‡ÍÂÚ ËÁ Ô‡ÔÍË hw2
        run: python -m build hw2/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-package
          path: hw2/dist/*