name: CI/CD Pipeline

on:
  push:
    branches: ["*"]     
    tags: ["v*"]         
  pull_request:
    branches: ["*"]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f hw2/src/requirements.txt ]; then pip install -r hw2/src/requirements.txt; fi

    - name: Run Linter
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run Tests
      env:
        PYTHONPATH: ${{ github.workspace }}/hw2/src
      run: pytest

  build-library:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Builder
        run: pip install build
      - name: Build Package
        run: python -m build hw2/
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-package
          path: hw2/dist/*

  build-docker:
    needs: tests
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./hw2               
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ml_project_hw:${{ github.ref_name }}